<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= object.errors.count %> 個エラーがあります:</h2>

    <ul>
      <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
